body {
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  font-size: 200%;
}

h1 {
  text-transform: uppercase;
  font-size: 6rem;
}

header {
  background: url("../img/1.jpg") no-repeat fixed center / cover;
  padding: 10px;
}

ul li {
  list-style: none;
}
.skills {
  margin-top: 70px;
}

.foto {
  border: 1px solid #ffffff;
  width: 300px;
  height: 300px;
  margin-top: 40px;
}

.ruby {
  color: #ff0000;
}

.info {
  margin-top: 30px;
}

.about_me {
  margin-top: 20px;
  padding: 10px;
}

.info3 {
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 5px;
  height: 400px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.info4 {
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 5px;
  margin-top: 35px;
  margin-bottom: 35px;
}

a {
  text-decoration: none;
  color: #ff0000;
}

.about_edu {
  padding: 30px;
  background: url("../img/3.jpg") no-repeat fixed center / cover;
  color: black;
  border-top: 1px solid white;
}

.about_work {
  padding: 30px;
  background: url("../img/2.jpg") no-repeat fixed center / cover;
  color: black;
  border-top: 1px solid white;
}

.no-v {
  visibility: hidden;
}

.a_work {
  color: white;
  text-align: center;
}

.contact {
  background: #171616;
  text-align: center;
  border-top: 1px solid white;
}

.contact ul li {
  display: inline;
}

.contact ul a {
  margin-top: 50px;
  box-shadow: none;
  background: none;
  margin-left: 30px;
}

.contact li:nth-child(1) a {
  margin-left: 0;
}

.contact span {
  font-size: 2em;
  color: white;
  -webkit-transition: color ease 0.4s;
  transition: color ease 0.4s;
}

.contact span:hover {
  color: #ff0000;
}

.over {
  margin-top: 35px;
}

ul.nav {
  margin: 0;
  padding: 4px;
}

ul.nav li {
  display: inline;
  margin-right: 5px;
}

