body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 200%;
}

h1 {
  text-transform: uppercase;
  font-size: 6rem;
}

header {
  background: url("../img/1.jpg") no-repeat fixed center / cover;
  padding: 10px;
}

ul li {
  list-style: none;
}

.foto {
  border: 1px solid #ffffff;
  width: 300px;
  height: 300px;
  margin-top: 40px;
}

.ruby {
  color: #ff0000;
}

.info {
  margin-top: 30px;
}

.about_me {
  background: url("../img/1.jpg") no-repeat fixed center / cover;
  padding: 10px;
}

.info2 {
  margin-top: 30px;
}

.info2-2 {
  margin-top: 30px;
}

.info3 {
  background: rgba(255,255,255,.3);
  padding: 20px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #ff0000;
}

.about_edu {
  padding: 50px;
  background: url("../img/2.jpg") no-repeat fixed center / cover;
  color: black;
}




